<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>strike</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

<script type="text/javascript">
	var arr3 = [];
	var ans3 = [];
	function myinit(){
		setArr3();
		console.log(arr3);
	}
	
	function mykey(e){
		if(e.key == "Enter"){
			myclick();
		}
	}
	
	
	function myclick(){
		var obj_ta = document.getElementById("ta");
		var obj_ipt = document.getElementById("ipt");
		var str_try = obj_ipt.value;
		
		if(str_try.length != 3){
			obj_ipt.value = "";
			return;
		}
		
		var str_old = obj_ta.value;
		var str_new = getStrikeBall(str_try);
		
		var str_line = `${str_try} ${str_new}\n`
		
		obj_ta.value = str_line + str_old;
		obj_ipt.value = "";
		
		if(str_new == "3S 0B"){
			alert("정답!!")
		}
		
	}
	
	function getStrikeBall(str_try){
		var s = 0;
		var b = 0;
		
		var t0 = parseInt(str_try.substr(0,1));
		var t1 = parseInt(str_try.substr(1,1));
		var t2 = parseInt(str_try.substr(2,1));
		
		if(t0 == arr3[0])s++;
		if(t1 == arr3[1])s++;
		if(t2 == arr3[2])s++;
		
		if(t0 == arr3[1])b++;
		if(t0 == arr3[2])b++;
		
		if(t1 == arr3[0])b++;
		if(t1 == arr3[2])b++;
		
		if(t2 == arr3[0])b++;
		if(t2 == arr3[1])b++;
		
		return `${s}S ${b}B`;
		
		
	}
	
	function setArr3(){
		arr9 = [1,2,3,4,5,6,7,8,9];
		
		console.log(arr9[0]);
		rnd = parseInt(Math.random()*9);
		console.log(rnd);
		for(i = 0; i < 100; i++){
			rnd = parseInt(Math.random()*9);
			
			temp = arr9[0];
			
			arr9[0] = arr9[rnd];
			arr9[rnd] = temp;
		}
		
		arr3.push(arr9[1]);
		arr3.push(arr9[2]);
		arr3.push(arr9[3]);
	}
</script>
</head>
<body onload="myinit()">
<table border="1px" style="width: 130px;">
	<tr>
		<td style="width: 60%;">야구존 : </td>
		<td style="width: 40%;">
			<input type="text" id="ipt"  style="width: 85%;" onkeydown="mykey(event)">
		</td>
	</tr>	
	<tr>
		<td colspan="2">
			<input type="button" onclick="myclick()" value="맞춰보기" style="width: 100%;">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<textarea id="ta"  style="width: 95%;" rows="9" cols="10"></textarea>
		</td>
	</tr>
</table>
</body>
</html>