<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>list화면</title>
<script type="text/javascript">
	
</script>
</head>
<body>
<form action="add_act" method="post">
<table border="1">
	<tr>
		<td>사번</td>
		<td><input type="text" name="e_id"></td>
		<td>이름</td>
		<td><input type="text" name="e_name"></td>
		<td>성별</td>
		<td><input type="text" name="sex"></td>
		<td>주소</td>
		<td><input type="text" name="addr"></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="확인">
		</td>
	</tr>
</table>
</form>
</body>
</html>